/* TODO: delete all the unneeded css */

.App {
    text-align: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.App-logo {
    height: 230px;
}

input {
    border: 1px solid #a87c7c;
}
.show-body {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.App-header {
    background-color: #cb0a32;
    height: 280px;
    padding: 20px;
    color: #222;
}

.App-title {
    font-size: 2em;
    font-weight: bold;
    color: white;
}

.showlink {
    padding: 0.4rem 0.8rem;
    background-color: white;
    border-radius: 3px;
    color: #9c6969;
    text-decoration: none !important;
    margin: 5px;
}

.showlink:hover {
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

p {
    margin-left: auto;
    margin-right: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* text-align: center; */
}

/* div {
    text-align: center;
} */

a {
    color: 'blue';
    text-decoration: none !important;
}

ol,
ul {
    list-style-position: inside;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

li {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navLink,
.navText {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* ul a:hover {
    background-color: transparent;
    color: blue;
}

ul {
    list-style: none;
} */

/* .title {
    font-weight: bold;
    color: #9c6969;
} */

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    input {
        font-size: 16px;
    }
}

/* button,
.nav {
    font-size: 16px;
    padding: 0.4rem 0.8rem;
    background-color: white;
    border-radius: 5px;
    border-color: white;
    color: #cb0a32;
    text-decoration: none !important;
    margin: 5px;
}

button:hover,
.nav:hover {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    cursor: pointer;
} */
