p {
    margin-left: auto;
    margin-right: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    color: 'blue';
    text-decoration: none !important;
}

ol,
.vote {
    list-style-position: inside;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

li {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@font-face {
    font-family: 'norwester';
    src: url('./fonts/norwester/norwester.otf');
}

.navLink,
.navText {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.checkmark::before {
    content: '✓';
    font-size: 50px;
    color: #c40303;
}

.checkmark {
    font-size: 25px;
    font-family: 'norwester';
    text-align: center;
    margin: 0px;
}

h1,
h2 {
    font-family: 'norwester';
}

/* border: ' 5px #c40303 solid', borderRadius: '2rem', backgroundColor: '#c40303', textAlign: 'center'  */
.moreInfo {
    font-size: 25px;
    text-align: center;
    border: 5px black solid;
    border-radius: 2rem;
    background-color: black;
    color: white;
}

.contact {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    input {
        font-size: 16px;
    }
}
